@page
@model IndexModel
@{
    ViewData["Title"] = "Grocery List";
}

<div class="text-center">
    <img src="/images/shopping.png" alt="ShoppingList" style="float: right;" width="350" height="320"/>
    <h4 class="homepageTitle">@ViewData["Title"]</h4>
</div>

<div class="offset-1">
    <p>"Grocery List" is a web page that supports and presents real data from the database provided by our client.</p>
    <p>This web page provides information about:</p>

    <ul class="dataBaseList">
        <li>Products</li>
        <li>Order List</li>
        <li>Orders</li>
        <li>Stores</li>
    </ul>

    <i>All data collected and used in this project are secure and confidential for all *.</i>
</div>
